body{

}

.container {
  width: 800px;
  height: 500px;
}
/* Limit image width to avoid overflow the container */
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
  max-height: 100%;
}
